
<!--Cabecera de la pagina-->
<mat-toolbar>

    <span class="banner">NinjaGo 🐱‍👤</span>

    <button mat-icon-button class="icon-button" aria-label="Example icon-button">

        <button>Acerca de nosotros</button>
    </button>
</mat-toolbar>

<body>

    <main class="principal">

        <!--Cabecera-->
        <header class="cabecera">

            <h1>Login</h1>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>

        </header>

        <!--Parte Central-->
        <div class="central">

            <label for="username">Email</label>
            <input id="username" type="text">

            <label for="password">Password</label>
            <input id="password" type="password">

        </div>

        <div class="botones">

            <button id="boton1" (click)="openPopup()">Iniciar sesion</button>
            <button id="boton2" (click)="openPopup2()">Cancelar</button>
        </div>


        <div class="piePagina">

            <p>NinjaGo derechos reservados 2016.
                <a href="#">Terminos y condiciones.</a>

            </p>
            <a href="#"> Crear cuenta</a>
        </div>

    </main>


</body>